<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">New Client</h1>
	</div>
</div>
<div class="row">
	<form role="form">
		<div class="col-lg-6">
			<div class="form-group input-group">
				<span class="input-group-addon"><span class="fa fa-user"></span></span>
				{{input type="text" class="form-control" placeholder="Client Name" value=model.firstName}}
			</div>
		</div>
		<div class="col-lg-6">
			<div class="form-group input-group">
				<span class="input-group-addon"><span class="fa fa-user"></span></span>
				{{input type="text" class="form-control" placeholder="Client Lastname" value=model.lastName}}
			</div>
		</div>
		<div class="col-lg-6">
			<div class="form-group input-group">
				<span class="input-group-addon"><span class="fa fa-phone"></span></span>
				{{input type="text" class="form-control" placeholder="Client Phone" value=model.phone}}
			</div>
		</div>
		<div class="col-lg-6">
			<div class="form-group input-group">
				<span class="input-group-addon">@</span>
				{{input type="email" class="form-control" placeholder="Client Email" value=model.email}}
			</div>
		</div>
		<div class="col-lg-6">
			<div class="form-group input-group">
				<span class="input-group-addon"><span class="fa fa-user"></span></span>
				<input type="text" class="form-control" placeholder="Parent Name">
			</div>
		</div>
		<div class="col-lg-6">
			<div class="form-group input-group">
				<span class="input-group-addon"><span class="fa fa-user"></span></span>
				<input type="text" class="form-control" placeholder="Parent Lastname">
			</div>
		</div>
		<div class="col-lg-6">
			<div class="form-group input-group">
				<span class="input-group-addon"><span class="fa fa-phone"></span></span>
				<input type="text" class="form-control" placeholder="Parent Phone">
			</div>
		</div>
		<div class="col-lg-6">
			<div class="form-group input-group">
				<span class="input-group-addon">@</span>
				<input type="email" class="form-control" placeholder="Parent Email">
			</div>
		</div>
		<div class="col-lg-2 col-lg-offset-10 text-right">
			<button {{action "save" model}} type="submit" class="btn btn-primary">Add</button>
			<button {{action 'cancel'}} type="button" class="btn btn-default">Cancel</button>
		</div>
	</form>
	<div class="clearfix"></div>
	<br />
	<div class="alert alert-success">
		Client created, to see details <a href="#" class="alert-link">click here</a>.
	</div>
	<div class="alert alert-danger">
		Something happened, please try again.
	</div>
</div>
