<div id="wrapper">
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    {{#link-to 'index' class="navbar-brand"}}<span><img height=40 src="/assets/images/isotipo.png" /> Easy Manager</span>{{/link-to}}

    {{#if session.isAuthenticated}}

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>


    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <li>
            {{#link-to 'dashboard'}}<i class="fa fa-dashboard fa-fw"></i> Dashboard{{/link-to}}
          </li>
          <li>
            <a><i class="fa fa-calendar"></i> Appointments<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li>
                {{#link-to 'appointments'}}My Appointments{{/link-to}}
              </li>
              <li>
                {{#link-to 'appointments'}}Add Appointment{{/link-to}}
              </li>
            </ul>
          </li>
          <li>
            <a><i class="fa fa-users"></i> Clients<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li>
                {{#link-to 'clients'}}My Clients{{/link-to}}
              </li>
              <li>
                {{#link-to 'clients.new'}}Add Client{{/link-to}}
              </li>
            </ul>
          </li>
          <li>
            {{#link-to 'payments'}}<i class="fa fa-credit-card"></i> Payments{{/link-to}}
          </li>
          <li class="nav-personal">
            <a><i class="fa fa-user"></i> My Easy Manager<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li>
                <a href="#/users/profile"><i class="fa fa-user fa-fw"></i> User Profile</a>
              </li>
              <li>
                <a href="#/users/settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
              </li>
              <li class="divider"></li>
              {{#if session.isAuthenticated}}
              <li>
                <a {{action 'invalidateSession'}}><i class="fa fa-sign-out fa-fw"></i> Logout</a>
              </li>
              {{/if}}
            </ul>
          </li>
        </ul>
      </div>
    </div>
    {{else}}
    <ul class="nav navbar-nav navbar-right">
      <li>{{#link-to 'register'}}Register{{/link-to}}</li>
      <li>{{#link-to 'login'}}Login{{/link-to}}</li>
    </ul>
    {{/if}}
  </nav>
  {{#if session.isAuthenticated}}
    <div id="page-wrapper">
      {{outlet}}
    </div>
  {{else}}
    <div>
      {{outlet}}
    </div>
  {{/if}}
</div>
